In [2]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
from nltk.corpus import stopwords

In [296]:
df_transcripts = pd.read_csv('Primed_Data/transcripts_noid2022_02_06.csv') #Reading the file that has all the transcripts from all trascribers
df_transcripts

,zone,year,month,day,time,sid,start,end,transcription,notes,file
0,Zone1,2018,8,12,932,RADIO,141.252,151.279,RADIOSHOP TESTING ONE TWO THREE FOUR FIVE FIVE...,NaN,201808120932-28710-27730ah.xlsx
1,Zone1,2018,8,12,932,RADIO,158.109,159.417,ONE TWO ONE TWO,NaN,201808120932-28710-27730ah.xlsx
2,Zone1,2018,8,12,932,UNIT,168.327,169.235,UNIT COMING IN,NaN,201808120932-28710-27730ah.xlsx
3,Zone1,2018,8,12,932,UNIT,175.330,177.437,ZONE ONE IS ON CITY [WIDE] FIVE,NaN,201808120932-28710-27730ah.xlsx
4,Zone1,2018,8,12,932,RADIO,184.003,189.017,OKAY THANKS UH THIS IS THE RADIO SHOP TESTING ...,NaN,201808120932-28710-27730ah.xlsx
...,...,...,...,...,...,...,...,...,...,...,...
61842,Zone13,2018,8,10,1104,SID 001,1789.384,1790.486,NINE TWO ONE,NaN,201808101104-486870-17692sj.txt
61843,Zone13,2018,8,10,1104,SID 019,1791.353,1794.932,<X> THREE NINE SACRAMENTO,NaN,201808101104-486870-17692sj.txt
61844,Zone13,2018,8,10,1104,SID 001,1798.634,1799.928,TWENTY ONE YOU AND WHO ELSE,NaN,201808101104-486870-17692sj.txt
61845,Zone13,2018,8,10,1104,SID 019,1801.279,1802.404,NINE TWO THREE,NaN,201808101104-486870-17692sj.txt
61846,Zone13,2018,8,10,1104,SID 001,1803.957,1805.690,AND TWENTY THREE ALRIGHT TEN FOUR,NaN,201808101104-486870-17692sj.txt

In [297]:
# Seperating filename and transcriber
df_transcripts[['filename','transcriber']] = df_transcripts['file'].str.split('(\d*-\d*-\d*)',expand=True)[[1,2]]
def remove_filetype(x):
    y = x.replace('.xlsx','')
    y = y.replace('.txt','')
    return y
df_transcripts['transcriber'] = df_transcripts['transcriber'].apply(lambda x: remove_filetype(x))
df_transcripts['transcriber'] = df_transcripts['transcriber'].str.lower().str.strip()
df_transcripts = df_transcripts[df_transcripts['transcriber']!='xxx']

In [298]:
#Total number of utterance per transcriber
df_transcripts['transcriber'].value_counts()

sj     15881
wpd     7700
ahs     6530
his     4875
mgw     3380
tjs     3262
jar     3154
mh      2974
rah     2354
kll     1767
mcm     1757
kjc     1565
wam     1416
aek     1387
ah      1376
rc       674
oaa      515
_xz      383
kk       353
kw       223
.kl      182
Name: transcriber, dtype: int64

In [299]:
# Function to count noise tags: <> and []
def count_special_character(string): 
    special_char= 0
    for i in range(0, len(string)):        
        ch = string[i]
        if string[i] == '<' or string[i] == '<' or string[i] == '[' or string[i] == ']': 
            special_char += 1
    return special_char

In [300]:
# Noise column defines the noise value of each utterance
df_transcripts['transcription'] = df_transcripts['transcription'].astype(str)
df_transcripts['Noise'] = df_transcripts.transcription.apply(count_special_character)

/tmp/ipykernel_143310/3568781340.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_transcripts['transcription'] = df_transcripts['transcription'].astype(str)
/tmp/ipykernel_143310/3568781340.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_transcripts['Noise'] = df_transcripts.transcription.apply(count_special_character)

In [301]:
df_transcripts

,zone,year,month,day,time,sid,start,end,transcription,notes,file,filename,transcriber,Noise
0,Zone1,2018,8,12,932,RADIO,141.252,151.279,RADIOSHOP TESTING ONE TWO THREE FOUR FIVE FIVE...,NaN,201808120932-28710-27730ah.xlsx,201808120932-28710-27730,ah,0
1,Zone1,2018,8,12,932,RADIO,158.109,159.417,ONE TWO ONE TWO,NaN,201808120932-28710-27730ah.xlsx,201808120932-28710-27730,ah,0
2,Zone1,2018,8,12,932,UNIT,168.327,169.235,UNIT COMING IN,NaN,201808120932-28710-27730ah.xlsx,201808120932-28710-27730,ah,0
3,Zone1,2018,8,12,932,UNIT,175.330,177.437,ZONE ONE IS ON CITY [WIDE] FIVE,NaN,201808120932-28710-27730ah.xlsx,201808120932-28710-27730,ah,2
4,Zone1,2018,8,12,932,RADIO,184.003,189.017,OKAY THANKS UH THIS IS THE RADIO SHOP TESTING ...,NaN,201808120932-28710-27730ah.xlsx,201808120932-28710-27730,ah,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61842,Zone13,2018,8,10,1104,SID 001,1789.384,1790.486,NINE TWO ONE,NaN,201808101104-486870-17692sj.txt,201808101104-486870-17692,sj,0
61843,Zone13,2018,8,10,1104,SID 019,1791.353,1794.932,<X> THREE NINE SACRAMENTO,NaN,201808101104-486870-17692sj.txt,201808101104-486870-17692,sj,1
61844,Zone13,2018,8,10,1104,SID 001,1798.634,1799.928,TWENTY ONE YOU AND WHO ELSE,NaN,201808101104-486870-17692sj.txt,201808101104-486870-17692,sj,0
61845,Zone13,2018,8,10,1104,SID 019,1801.279,1802.404,NINE TWO THREE,NaN,201808101104-486870-17692sj.txt,201808101104-486870-17692,sj,0
61846,Zone13,2018,8,10,1104,SID 001,1803.957,1805.690,AND TWENTY THREE ALRIGHT TEN FOUR,NaN,201808101104-486870-17692sj.txt,201808101104-486870-17692,sj,0

In [302]:
#count noise as well as total utterance for each transcript of a given audio file

sum = df_transcripts.groupby(['filename','transcriber']).sum()
count = df_transcripts.groupby(['filename','transcriber']).count()
count['Noise_Count'] = sum['Noise']
count['Selection_Ratio'] = sum['Noise'] / count['Noise']
count = count.rename(columns={"Noise": "Utterance_Count"})
count = count.drop(columns=['zone','year','month','day','time','sid','start','end','transcription','notes','file'])

### Selection Ratio is calculated as: Selection_Ratio = Noise_Value of all utterance in the file/total number of utterance in that file

In [304]:
count

                                       Utterance_Count  Noise_Count  \
filename                  transcriber
201808042331-339616-27730 aek                      152           72
                          kjc                      153          175
                          mgw                      161           60
                          mh                       152           12
                          wam                      154          142
...                                                ...          ...
201808130825-776116-27730 wpd                       15           17
201808130854-145935-27730 his                       45           20
                          wpd                       49           30
201808130924-30969-27730  his                       18           18
                          wpd                       19           14

                                       Selection_Ratio
filename                  transcriber
201808042331-339616-27730 aek                 0.473684
                          kjc                 1.143791
                          mgw                 0.372671
                          mh                  0.078947
                          wam                 0.922078
...                                                ...
201808130825-776116-27730 wpd                 1.133333
201808130854-145935-27730 his                 0.444444
                          wpd                 0.612245
201808130924-30969-27730  his                 1.000000
                          wpd                 0.736842

[459 rows x 3 columns]

In [1]:
#Reading the same file as the output above (Use line2 if output isnt available)
select = pd.read_csv('Per_File_Noise_Value.csv') 
#select = count

In [ ]:
#select the file with the lowest selection_ratio value
min_noise = []
min_noise = select[select['Selection_Ratio'] == select.groupby('filename')['Selection_Ratio'].transform('min')]
min_noise

In [ ]:
min_noise['file'] = min_noise['filename'] + min_noise['transcriber']

In [ ]:
min_noise

In [ ]:
min_noise = min_noise.sort_values('Selection_Ratio').drop_duplicates('filename')

In [ ]:
#final_list contains the name of all the files that were selected based on selection_value
final_list = min_noise['file']

In [ ]:
df_transcripts['file'] = df_transcripts['filename']+df_transcripts['transcriber']

In [ ]:
#t contains utterances from files that are present in final_list
t = []
t = df_transcripts[df_transcripts.file.isin(final_list)]

In [2]:
t.sort_values('zone')

In [308]:
t.to_csv('Transcripts_CombinedByFile.csv')